# 1.

[  ] is square bracket and is indicated as 'list' in python programming language .

In [4]:
a=[]              
type(a)

list

# 2.

In [12]:
spam=[2,4,6,8,10,['a','b','c','d']]

spam.insert(2,'hello')

print(spam)

[2, 4, 'hello', 6, 8, 10, ['a', 'b', 'c', 'd']]

# 3.

In [13]:
spam[int(int('3' * 2) / 11)]

6

# 4.

In [18]:
spam[-1]

['a', 'b', 'c', 'd']

# 5.

In [19]:
spam[0:2]

[2, 4]

# 6.

In [83]:
bacon=[3.14,'cat',11,'cat',True]
bacon.index('cat')  #index function renders the first occuring value's index

1

# 7.

In [84]:
bacon.append(99)
print(bacon)     # append keyword adds the value at the end of the list

[3.14, 'cat', 11, 'cat', True, 99]

# 8.

In [85]:
bacon.remove('cat')
print(bacon)  #remove function removes the first occuring value

[3.14, 11, 'cat', True, 99]

# 9.

In [86]:
bacon*3 # * list replication operator gives the copy of the list

[3.14,
 11,
 'cat',
 True,
 99,
 3.14,
 11,
 'cat',
 True,
 99,
 3.14,
 11,
 'cat',
 True,
 99]

In [87]:
bacon_1=[4,2,3,5,'srikar']

In [88]:
bacon+bacon_1 # + is used to concatenate lists

[3.14, 11, 'cat', True, 99, 4, 2, 3, 5, 'srikar']

# 10.

In [89]:
bacon.append('hello friends')
print(bacon)                       #append method adds the new value at the end of the list

[3.14, 11, 'cat', True, 99, 'hello friends']

In [91]:
bacon.insert(2,'goodbye')
print(bacon)    #insert method has the choice of index in the list to add.

[3.14, 11, 'goodbye', 'goodbye', 'cat', True, 99, 'hello friends']

# 11.

In [92]:
bacon.remove('goodbye')   #remove method-removes the first occurences with respect to object value
print(bacon)

[3.14, 11, 'goodbye', 'cat', True, 99, 'hello friends']

In [96]:
bacon.pop(4) # returns the list and removes the value based on the index mentioned
print(bacon)

[3.14, 11, 'goodbye', 'cat', 99, 'hello friends']

# 12.

In [103]:
a= ['a','b','c','d']
p= 'f3774b'

for i in a:
    print(i)   
    
                            #list and string stores the data in sequence.
for i in p:
    print(i)

a
b
c
d
f
3
7
7
4
b

# 13.

Lists and tuples are data storing structures.
lists data is stored in [  ]. 
Tuples data is stored in (). 
Lists are mutable which means it can be changed whereas Tuples are immutable. 
That is the main reason why most of secured data in companies is in tuples format.

# 14.

In [125]:
a=(42)     #integer value alone makes it int data type rather than tuple
type(a)

int

In [126]:

b=(45,13)  # more than one int value is placed in () , which makes a tuple. 
type(b)

tuple

In [128]:
a=tuple(a)              #typecasting isn't possible for int value to tuple

TypeError: 'int' object is not iterable

# 15.

In [134]:
list_1=['a',2,56,27,'g']

tuple_1=('f','t',5.3,66)

list_1=tuple(list_1)                          #typecasted from list to tuple and tuple to list
tuple_1=list(list_1)

In [135]:
list_1 #list values in tuple form

('a', 2, 56, 27, 'g')

In [136]:
tuple_1 #tuple values in list form

['a', 2, 56, 27, 'g']

# 16.

'contain' variable can contain lists ,tuples ,dictionaries ,strings , integers ,boolean and none data types.

# 17.

In [144]:

copy=[]
copy.copy()

[]

In [145]:
copy.deepcopy()

AttributeError: 'list' object has no attribute 'deepcopy'