1.   *     - Expression(Multiplication Mathematical Operator)
   'hello' - String 
   -87.8   - Value (float value)
      -    - Expression (Subtraction Mathematical Operator)
      /    - Expression (Division Mathematical Operator)
      +    - Expression (Addition Mathematical Operator)
      6    - Value (Integer Value)

2. 
String - String is a data type in Python programming language. Any Data that is in singular or double quotation marks   (' ' or " ") is called a string.  

Example- 'student' , '23' , 'mumbaidelhi23'

Variable - Variable is to store the data, it is used to assign the value of all data types can be stored in a variable.
Example- a= 4 , b ='python'

3.

a) Boolean - Data type with True or False. 
b) Integer - Numeric value implies integer data type. Example- 1, -50 , 2 .
c) String  - Anything in quotation marks is a string data type . Example - 'github' , 'ss4' .

4. Expressions are made up of operators and interpreted by compiler to produce a value.
   All expressions are subjected to perform its respective mathematical operations.

In [18]:
#example1-subtraction
4-2

2

In [17]:
#example 2-multiplication
4*6

24

In [20]:
#example3- using strings
'Hello'+' Jupyter'

'Hello Jupyter'

5.spam=10 . Here the integer value 10 is assigned to spam variable, this is an assignment statement.

Expressions consists of operators like '+,-,*,/'.

In [27]:
#6. 
bacon=22
bacon+1            #bacon variable value is added to 1, now bacon is 23.

23

In [24]:
#7.
'spam'+'spamspam'

'spamspamspam'

In [25]:
'spam'*3

'spamspamspam'

Both produced the same string.

8. Rules of Variable in python
a) A variable should start with a letter.
b) A variable cannot start with a number because it is invalid syntax.

From this we can say that , eggs is a valid variable and 100 cannot be a valid variable.

In [38]:
#9.
a='5' #string given
a = int(a) #type casting from string to integer
a

5

In [41]:
b = float(a)  #typecasting from string to float value
b

5.0

In [42]:
x=5
x=str(x) #type casting from integer to string
x

'5'

In [46]:
#10.
'I have eaten '+str(99)+' burritos.' #99 is a integer ,in order to print this, type cast from int to str. Then, 99 is a part of the new string.

'I have eaten 99 burritos.'